.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 4px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0.95px 2.6px;
}

.container span {
    font-weight: 200;
}
.container img {
    width: 55px;
    height: 42px;
}

.svgIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border: none;
    color: gray;
    transition:  background-color  .5s;
    border-radius: 5px;
    background-color: transparent;
}
.svgIcon:hover {
    transition:  background-color .5s;
    color: inherit;
    background-color:  rgba(0, 0, 0, .04);
}
.svgIcon a {
    display: flex;
}

.svgIcon img {
    width: 16px;
    height: 21px;
    margin: 0 7px;
}

.container hr {
    display: inline-block;
    height: 1.5rem;
    width: 1.5px;
    margin: 0 8px;
    border: 0;
    background-color: #E0E0E0;  
}

.searchBox {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 468px;
    height: 40px;
}

.searchBox input {
    width: 100%;
    height: 100%;
    margin: 0 10px;
    border: none;
    background: #f0efef;
    border-radius: 5px;
    padding: 0 8px;
}

.searchBox input::placeholder {
    color: #a09b9b;
    font-size: small;
    font: inherit;
}

.searchBox img {
    position: absolute;
    left: 20px;
    top: 0;
    width: 15px;
}

.advertBtn button {
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    background-color: #a62626;
    white-space: pre-line;
    padding: 8px 12px;
    font-size: .95rem;
    font-weight: 350;
}